@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.logo{
    width: 100px;
    height: 100px;

}

/* ___________________________________________________________________ */
/* Header */
.logo-header{
    width: 100px;
    height: 100px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #555;
}
nav ul li a:hover{
    background-color: #4B3123;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.header{
    background: linear-gradient(to right, #EEC967, #EBB537, #e9a106);
}

.header row{
    margin-top: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
}



/* ___________________________________________________________________ */
/* Slides */
.slides-container {
    width: 100%;
    height: 60vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide-animation 9s infinite;
}

.slide {
    width: 100%;
    height: 60vh;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animação para passar os slides automaticamente */
@keyframes slide-animation {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

/* ___________________________________________________________________ */
/* Sobre nos */
.sobre{
    max-width: 1700px;
    margin: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre_nos{
    padding-left: 25px;
    padding-right: 25px;
    text-align: center; /*Centraliza na horizontal*/
    height: 560px;
}
.sobre_text{
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: justify;
}.btn{
    display: inline-block;
    background: #e9a106;
    color: #fff;
    padding: 8px 10px;
    margin: 10px 5px;
    border-radius: 30px;
    transition: background 0.5s, color 0.3s, opacity 1s;
}
.btn:hover{
    background: #563434;
}
.img_sobrenos{
    width: 350px;
    padding-left: 10px;
    padding-right: 25px;

}
.mapaGeral{
    padding-left: 20px;
    padding-right: 25px;
    height: 560px;

}



/* ___________________________________________________________________ */
/* Produtos */

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
 .titulo_prod{
    /* margin: auto; */
    margin: 15px 5px 15px 410px ;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-5px);
}
.col-4 p{
    font-size: 14px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* ___________________________________________________________________ */
/* Video */
.video{
    padding-bottom: 15px;
}
/* ___________________________________________________________________ */
/* FOOTER */
footer{
    background-color: #4B3123;
}